
.container {
    text-align: center;
    padding: 20px;
}

.fullWidthImage {
    width: 100%;
    margin: 0;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
    margin-top: 20px;
}
