@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    background-color: #f0f0f0; /* Adjust background color as needed */
}

.menu {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding-left: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto Mono', monospace;
}

.menuItem {
    margin: 0 15px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    transition: transform 0.3s, font-weight 0.3s;
    font-size: 12px; /* Adjust font size as per dashboard requirements */
}

.menuItem:hover {
    font-weight: 700;
  
}

.subMenu {
    position: absolute;
    top: 100%; /* Position below the parent menu item */
    left: 0; /* Align to the left of the parent */
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 items per row */
    gap: 10px;
    z-index: 9999; /* High z-index to ensure visibility */
    padding: 10px;
    border-radius: 8px;
    font-size: 10px; /* Smaller font size for submenu items */
    overflow-y: auto; /* Enable scrolling if necessary */
    max-height: 50vh; /* Limit height of submenu */
    width: 50vw; /* Make submenu half the width of the screen */
}

.link {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    transition: font-weight 0.3s;
}

.link:hover {
    font-weight: 700;
}

.subjectiveIcon {
    width: 40px; /* Adjust icon size as per design */
    height: 40px;
    margin-right: 10px; /* Adjust spacing between icons */
}

.dashboardIcon {
    width: 48px; /* Adjust icon size as per design */
    height: 48px;
    border-radius: 3px;
    filter: invert(1);
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff; /* Adjust background color as needed */
}

.title {
    font-size: 14px;
    margin-bottom: 20px;
}

.widget {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.widgetTitle {
    font-size: 14px;
    margin-bottom: 10px;
}

.rightAlignedItems {
    margin-left: auto;
    display: flex;
}

.userProfile {
    position: relative;
    cursor: pointer;
    margin-right: -93%;
}

.userProfileImage {
    width: 40px; /* Adjust size as per design */
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}



.userSubMenu {
    position: absolute;
    margin-left: -15%; /* Position below the user profile menu item */
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 9999; /* High z-index to ensure visibility */
    padding: 10px;
    border-radius: 8px;
}

.subMenuItem {
    text-decoration: none;                                                                                                                                                                                      
    color: #fff;
    margin: 5px 0;
    display: flex;
    align-items: center;
   
    z-index: 4;
}

.subMenuItem:hover {
    font-weight: 700;
    
}

.settingsIcon {
    width: 16px; /* Adjust icon size as per design */
    height: 16px;                                                                                                                                                                                                           
    margin-left: 8px;
}
