/* Import Roboto Mono font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/* DashboardContentComponent.module.css */

/* Main Dashboard Container */
.dashboardContainer {
display:flex ;
flex-direction :column ;
height :100vh ;
}

/* Top Navbar Styles */
.navbar {
background-color:white ;
box-shadow :0 .125rem .25rem rgba(0 ,0 ,0 ,.1);
padding:.625rem ;
display:flex ;
justify-content :space-between ;
align-items:center ;
}

/* Dashboard Component Styles */
.dashboard-component {
border-radius:.5rem ;
border:.125rem solid #e0e0e0; /* Light gray border */
transition : all .3s ease;
}

.dashboard-component:hover {
border-color:#007bff; /* Change border color on hover */
box-shadow :0px .3125rem .9375rem rgba(0 ,0 ,0 ,.2); /* Add shadow on hover */
}

/* Work Footprint Styles */
.work-footprint {
display:flex ;
align-items:center ;
padding:.625rem ;
border-radius:.5rem ;
background-color:white ;
margin-bottom:.625rem ;
}

.work-footprint:hover {
background-color:#f9f9f9; /* Light gray background on hover */
}

/* Chart Container Styles */
.chart-container {
width :100%;
}

/* Slot Styles for Docking Components */
.slot {
width :calc(50% - .625rem);
height:auto ;
border-style:dashed; /* Dashed border style */
border-width:.125rem; /* Border width */
border-color:#d1d5db; /* Light gray color */
border-radius:.5rem; /* Rounded corners */
padding:.625rem;
z-index :1;
}

.slot:hover {
background-color:#f0f8ff; /* Light blue background on hover */
}

/* General Text Styles */
.title {
font-size :22px; /* Product Titles */
font-weight :700; /* Bold for emphasis */
}

.widgetTitle {
font-size :20px; /* Page Headings */
margin-bottom :20px;
}

.body-text {
font-size :16px; /* Body text size */
}

.small-text {
font-size :14px; /* Small text size for descriptions and details */
}

/* Button Styles */
.button {
background-color:#007bff;
color:white ;
padding:.625rem ; 
text-decoration:none ;
border-radius:.3125rem ;
}

.button:hover {
background-color:#0056b3; /* Darker blue on hover */
}

/* Form Styles */
.form {
display:flex ;
flex-direction :column ;
}

.formLabel {
display:flex ;
flex-direction :column ;
}

.formInput {
padding:.5rem ; 
font-size :16px; 
}

.formButton {
padding:.625rem ; 
font-size :16px; 
}

/* Modal Styles (if needed) */
.modal {
display:flex ;
justify-content:center ;
align-items:center ;
position:absolute ; 
z-index :1 ; 
left :0 ; 
top :0 ; 
width :100% ; 
height :100% ; 
background-color :rgba(0 ,0 ,0 ,.5) ; 
}

.modalContent {
background-color:white ;
padding :.625rem ; 
border-radius :.625rem ; 
box-shadow :.125rem .125rem .3125rem rgba(0 ,0 ,0 ,.3); 
}

/* Toggle Switch Styles (if needed) */
.toggleSwitch {
position:absolute ; 
display:inline-block ; 
width :.375rem ; 
height :.2125rem ; 
}

.toggleSwitch input {
opacity :0 ; 
width :0 ; 
height :0 ; 
}

.slider {
position:absolute ; 
cursor:pointer ; 
top :0 ; 
left :0 ; 
right :0 ; 
bottom :0 ; 
background-color:#ccc; 
transition :.4s; 
border-radius :.2125rem; 
}

.slider::before {
position:absolute ; 
content:""; 
height :.1625rem; 
width :.1625rem; 
left :.025rem; 
bottom :.025rem; 
background-color:white; 
transition :.4s; 
border-radius :.5rem; 
}

input[type=checkbox]:checked + .slider {  
background-color:#2196F3;  
}

