/* Import the Roboto Mono font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html, body {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px; /* Adjust the font size as needed */
  background-color: black;
  color: white; /* Ensure text color is white for better contrast */
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu_container menu_container menu_container"
    "animation_container animation_container animation_container"
    "footer_container footer_container footer_container";

  background-color: black;
}

.menu_container {
  grid-area: menu_container;
  z-index: 1;
}

.animation_container {
  grid-area: animation_container;
}



* {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px; /* Adjust the font size as needed */
  color: black; /* Ensure text color is white for better contrast */
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.animation_container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /*border: 2px solid yellow;  Add yellow border for debugging */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure canvas is behind the CSS3D renderer */
}





.content-wrapper {
  background-color: #ffffff;
  color: #000000;
  max-width: 80%; /* Increase the maximum width */
  margin: 40px auto; /* Add more top and bottom margin */
  padding: 40px; /* Increase padding for better readability */
  border-radius: 8px; /* Optional for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional for subtle shadow */
}
