.impactContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes full height of the viewport */
  background-color: #ffffff;
  color: #000000;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
}

.content {
  flex: 1; /* Allow content to take up available space */
}

.videoSection, .introSection, .eraSection, .impactQuoteSection {
  margin-bottom: 40px; /* Adjust spacing as needed */
}

.introTitle, .eraTitle, .impactQuote {
  text-align: center;
}

.video {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.introSection {
  margin-bottom: 40px;
}

.introText {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; /* To make paragraphs look more professional */
}

.eraSection {
  margin-bottom: 60px;
}

.impactQuoteSection {
  margin-top: 40px;
  text-align: center;
}

.impactQuote {
  font-size: 1.5em;
  font-style: italic;
  margin: 0 auto;
  max-width: 800px;
}

.footer_container {
  width: 100%;
}
