.investorContainer {
    background-color: #000000; /* Dark background */
    color: #f1c40f; /* Gold color for text */
    max-width: 95%;
    margin: 0 auto;
    padding: 5%;
    font-family: 'Roboto Mono', monospace;
    margin-top: 0px;
}

.title {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    color: #f1c40f; /* Gold color */
    font-family: 'Roboto Mono', monospace;
}

.subtitle {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #f1c40f;
    font-family: 'Roboto Mono', monospace;
}

.subheading {
    font-size: 2.5em;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #f1c40f;
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
}

.subsubheading {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #f1c40f;
    font-family: 'Roboto Mono', monospace;
}

.text {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #e0e0e0; /* Light gray text */
    font-family: 'Roboto Mono', monospace;
}

.featureTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f1c40f;
    font-family: 'Roboto Mono', monospace;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list li {
    margin-bottom: 20px;
}

.productList li p {
    color: #e0e0e0; /* Light gray text */
}

.financialTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.financialTable th, .financialTable td {
    border: 1px solid #f1c40f;
    padding: 12px;
    text-align: left;
    color: #e0e0e0;
    font-size: 1.1em;
}

.financialTable th {
    background-color: #2c2c2c;
}

.link {
    color: #f1c40f;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.teamSection {
    margin-top: 20px;
}

.teamMember {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.teamPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #f1c40f;
    transition: transform 0.3s ease;
}

.teamPhoto:hover {
    transform: scale(1.05);
}

.memberInfo h3 {
    margin-top: 0;
    color: #f1c40f;
    font-family: 'Roboto Mono', monospace;
}

.memberInfo p {
    font-family: 'Roboto Mono', monospace;
}

.calendlyContainer {
    margin-top: 40px;
    border: 2px solid #f1c40f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(241, 196, 15, 0.3);
}

.pdfGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.pdfItem {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
}

.pdfViewer {
    width: 100%;
    height: 400px;
    border: none;
    border: 1px solid #f1c40f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(241, 196, 15, 0.3);
}

.downloadLink {
    display: block;
    margin-top: 15px;
    color: #f1c40f;
    font-size: 1.2em;
    text-decoration: none;
}

.downloadLink:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .pdfItem {
        width: 100%;
    }
    .teamMember {
        flex-direction: column;
        align-items: center;
    }
    .teamPhoto {
        margin-bottom: 20px;
    }
    .memberInfo h3 {
        text-align: center;
    }
}

/* Subjective 0-Input Technology Section */
.subjectiveZeroInputSection {
    padding: 100px 20px;
    background-image: url('/images/background_gradient.png');
    color: #ffffff;
    text-align: center;
}

.sectionTitle {
    font-size: 3.5em;
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: 0 0 8px #ffffff;
}

/* Content Container */
.subjectiveZeroInputContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Video Container */
.videoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.videoWrapper {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.subjectiveVideo {
    width: 100%;
    height: auto;
}
.footprintVignetteDiffuse {
    width: 50%!important;

}