/* components/Menu.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Ensure the menu stays at the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
    font-family: 'Roboto Mono', monospace;
}

.menuItem {
    margin: 0 15px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    transition: transform 0.3s, font-weight 0.3s;
    font-size: larger;
}

.menuItem:hover {
    font-weight: 700;
    transform: scale(1.18);
}

.menuItem a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    transition: font-weight 0.3s;
}

.menuItem a:hover {
    color: #fff;
    font-weight: 700;
}

.link {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    transition: font-weight 0.3s;
}

.link:hover {
    font-weight: 700;
}

/* Apply the specific styles to the .signUpButton */
.signUpButton {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1em;
    background-color: #FFD700;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 0 15px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px #FFD700;
    font-family: 'Roboto Mono', monospace;
    white-space: nowrap;
}

.signUpButton:hover {
    background-color: #FFD700;
    box-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700;
}

.content_container {
    padding-top: 70px; /* Ensure there is space below the fixed menu */
}
