@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; /* Ensure the menu stays at the top */
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
    font-family: 'Roboto Mono', monospace;
}

.menuItem {
    margin: 0 15px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    transition: transform 0.3s, font-weight 0.3s;
    font-size: larger;
}

.menuItem:hover {
    font-weight: 700;
    transform: scale(1.18);
}

.menuItem a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    transition: font-weight 0.3s;
}

.menuItem a:hover {
    color: #fff;
    font-weight: 700;
}

.subMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    z-index: 10;
    padding: 10px;
    border-radius: 8px;
    width: auto; /* Adjust width to fit content */
    font-size: smaller;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.leftMenu, .rightMenu {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    transition: font-weight 0.3s;
}

.link:hover {
    font-weight: 700;
}

.signUpButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: 'Roboto Mono', monospace;
}

.signUpButton:hover {
    background-color: #0056b3;
}

.content_container {
    padding-top: 70px; /* Ensure there is space below the fixed menu */
}
