.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes full height of the viewport */
    background-color: #ffffff;
    color: #000000;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 100px;
  }

  .content {
    flex: 1; /* Take up remaining space */
  }
  
  .title, .description {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .papersContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; /* Adjust spacing as needed */
  }
  
  .paperFrame, .note, .bookSection, .orcidSection {
    text-align: center;
  }
  
  .logoTable, .logoCell, .logo, .orcidRow, .orcidLogo, .orcidCode, .bookCover, .amazonButton {
    margin: 0 auto;
    text-align: center;
  }

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.description {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.papersContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; /* Add space from the paper frames */
}

.paperFrame {
    width: 48%;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.iframe {
    width: 100%;
    height: 300px; /* 50% smaller */
    border: none;
}

.paperNote {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

.note {
    font-size: 1em;
    margin-top: 20px;
    text-align: center; /* Center the content */
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.logoTable {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logoCell {
    padding: 10px;
}

.logo {
    width: 300px; /* 3 times bigger */
    vertical-align: middle;
}

.orcidSection {
    margin-top: 20px;
    text-align: center; /* Center the content */
}

.orcidRow {
    margin-top: 10px;
}

.orcidLogo {
    width: 150px; /* 3 times bigger */
}

.orcidCode {
    font-size: 1em;
}

.bookSection {
    margin-top: 20px;
    text-align: center;
}

.bookTitle {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.bookSubtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: normal;
}

.bookCover {
    width: 100%; /* Full width of the container */
    border-radius: 8px;
}

.bookNote {
    font-size: 1em;
    margin-top: 20px;
}

.bookPitch {
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.amazonButton {
    width: 300px; /* Adjust as necessary for better display */
    margin-top: 20px;
}
