

@font-face {
    font-family: 'InputMono';
    src: url('../public/font/Input_Fonts/InputMono/InputMono/InputMono-Light.ttf') format('truetype'); /* Adjust the path to your font file */
    font-weight: normal;
    font-style: normal;
  }
  