.impactContainer {
  background-color: #ffffff;
  color: #000000;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  margin-top: 100px;
}

.videoSection {
  text-align: center;
  margin-bottom: 40px;
}

.video {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.introSection {
  margin-bottom: 40px;
}

.introTitle {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.introText {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify; /* To make paragraphs look more professional */
}

.eraSection {
  margin-bottom: 60px;
}

.eraTitle {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.impactQuoteSection {
  margin-top: 40px;
  text-align: center;
}

.impactQuote {
  font-size: 1.5em;
  font-style: italic;
  margin: 0 auto;
  max-width: 800px;
}
