.link {
    text-decoration: none;
    color: white;
    font-weight: regular;
    font-family: 'Roboto Mono', monospace;
    transition: color 0.2s;
  }
  
  .link:hover {
    color: neonwhite !important;
    text-decoration: none !important;
  }
  
.menu {
    background-color: black;
    color: white;
    padding: 0px;
    display: flex; /* Add flex display */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
}

.menuItem {
    margin-right: 20px;
}

.menuItem:hover,
.signUpButton:hover {
  font-weight: bold;
}

.subMenu {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 70px;
}

.menuItem:hover .subMenu {
    display: flex;
}

.menuItem:hover {
  font-weight: bold;
}

.signUpButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

  .leftMenu,
  .rightMenu {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for individual menu items */
  .menuItem {
    /* Your menu item styles */
    margin: 5px;
  }
  
#logo {
  left: 0px;
}